<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/util
  http://www.springframework.org/schema/util/spring-util.xsd
  http://www.springframework.org/schema/context
  https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:annotation-config/>
    <bean id="student" class="Spring2207.Student" p:firstName="Ivan" p:lastName="Ivanov" p:avgMark="7.3"
          p:subjects-ref="subjects"/>

    <util:list id="studentList">
        <bean class="Spring2207.Student" p:firstName="Petr" p:lastName="Petrov" p:avgMark="9.1"
              p:subjects-ref="subjects"/>
        <bean class="Spring2207.Student" p:firstName="Stepan" p:lastName="Stepanov" p:avgMark="6.3"
              p:subjects-ref="subjects"/>
        <bean class="Spring2207.Student" p:firstName="Alex" p:lastName="Alexandrov" p:avgMark="4.9"
              p:subjects-ref="subjects"/>
        <bean class="Spring2207.Student" p:firstName="Nikolay" p:lastName="Nikolaev" p:avgMark="3.7"
              p:subjects-ref="subjects"/>
    </util:list>

    <util:list id="subjects">
        <value>Math</value>
        <value>Language</value>
        <value>Physical</value>
        <value>Geography</value>
        <value>History</value>
    </util:list>

    <bean id="markMore5" class="Spring2207.Course"
          p:nameCourse="markMore5" p:students="#{studentList.?[avgMark gt 5.0]}" primary="true">
    </bean>
    <bean id="markLess5" class="Spring2207.Course"
          p:nameCourse="markLess5" p:students="#{studentList.?[avgMark lt 5.0]}">
    </bean>
    <bean id="markMax" class="Spring2207.Course"
          p:nameCourse="markMax" p:students="#{T(java.util.Collections).max(studentList)}">
    </bean>
    <bean id="markMin" class="Spring2207.Course"
          p:nameCourse="markMin" p:students="#{T(java.util.Collections).min(studentList)}">
    </bean>
    <bean name="aspect" class="Spring.task.Aspect"/>
    <aop:config>
        <aop:aspect ref="aspect">
            <aop:before pointcut="execution(* Spring2707.Service.send())"
                        method="before"/>
            <aop:after pointcut="execution(* Spring2707.Service.send())"
                       method="after"/>
            <aop:after-throwing method="afterProblems"
                                pointcut="execution(* Spring2707.Service.sendException())"/>

        </aop:aspect>

    </aop:config>

</beans>